.calendar {
  max-width: 640px;
  margin: 20px auto;
  font-size: 13px;
  background-color: #4ca5cf;
  border: solid 3px #35474F;
  color: white;
}

.calendar tr, .calendar td {
  border: 2px solid #90C0D7;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
  list-style: none;
}

a {
  color: #17a2b8;
}